<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://addb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>addb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>addb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$addb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dsn" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:addb.database.windows.net,1433;Initial Catalog=addb;User ID=hduong@addb.database.windows.net;Password=CSC201abc" Name="Data Source=tcp:addb.database.windows.net,1433;Initial Catalog=addb;User Id=hduong@addb.database.windows.net;Password=CSC201abc" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=addb.database.windows.net;Initial Catalog=addb;User ID=hduong;Password=CSC201abc" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dsn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=addb.database.windows.net;Initial Catalog=addb;User ID=hduong;Password=CSC201abc" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="dsn-Web.config Connection String">
      <ParameterValue>Data Source=tcp:addb.database.windows.net,1433;Initial Catalog=addb;User Id=hduong@addb.database.windows.net;Password=CSC201abc</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>